.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #0f0f0d;
  font-family: 'Economica', sans-serif;
}

.App main {
  flex-grow: 1;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.buttonContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1rem;
}

.buttonHeading {
  margin: 0;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 2rem;
}
